body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.conn{
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('images/workspace-1280538.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.navbar{
    width: 90%;
    margin: auto;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 .logo{
    width: 185px;
    height: 68px;
    border-radius: 50%;
    margin: -48px;
    padding: 5px;
    cursor: pointer;
}

.navbar ul li{
    list-style-type: none;
    width: 120px;
    display: inline-block;  
  }
  li{
      color:#fff;
  }
  a{
    color: white;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    margin-left: 9px;
  }
  a:hover{
      color:#fb2525;
  }
  .button input[type="submit"]{
    border: none;
    outline: none;
    height: 39px;
    background: #b0275f;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    position: absolute;
    top: 61%;
    left: 50%;
    width: 152px;
    margin-left: -5%
}
.button input[type="submit"]:hover{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.603);
    color: #fb2525;
}
table{
    margin-left: 2%;
    margin-right: 2%;
}
.th1 {
    color: #fff;
    background: tomato;
    width: 60%;
    height: 25px;

}
.th2 {
    color: #fff;
    background: tomato;
    width: 10%;
    height: 25px;

}
.th3 {
    color: #fff;
    background: tomato;
    width: 20%;
    height: 25px;

}
.th4 {
    color: #fff;
    background: tomato;
    width: 10%;
    height: 25px;

}
.cartpage img{
    width: 57%;
    margin-left: 15px;
    margin-top: 20%;
}
.cartpage td{
color: #fff;
text-align: left;
}
.cartpage input{
    width: 27%;
    margin-left: 27%;
}
.cartpage .p1{
    text-align: center;
}
span:hover{
    cursor: pointer;
    color: #fb2525;
}